{% extends 'base.html' %}

{% block title %}Удаление{% endblock %}

{% block content %}
    <h1>Вы уверены, что хотите удалить фото "{{ photo.caption }}"?</h1>
    <form action="{% url "webapp:photo_delete" photo.pk %}" method="post">
        {% csrf_token %}
        <div class="btn-group">
            <button class="btn btn-danger" type="submit">Да</button>
            <a class="btn btn-primary" href="{% url 'webapp:photo_detail' photo.pk %}">Отмена</a>
        </div>
    </form>
{% endblock %}