{% extends 'base.html' %}

{% block title %}
    Детальный просмотр альбома
{% endblock %}

{% block content %}
    <br>
    <div class="card">
        <div class="card-header">
            Альбом: {{ album.name }}
        </div>
        <div class="card-body">
            {% if album.description %}
                <p class="card-text">{{ album.description }}</p>
            {% else %}
                <p class="card-text">без описания...</p>
            {% endif %}
            <div class="btn-group">
                {% if perms.webapp.change_album or request.user == album.author %}
                <a class="btn btn-primary" href="{% url 'webapp:album_update' album.pk %}">Изменить</a>
                {% endif %}
                {% if perms.webapp.delete_album or request.user == album.author %}
                <a class="btn btn-danger" href="{% url 'webapp:album_delete' album.pk %}">Удалить</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row my-3">
        {% for photo in album.photos.all %}
            {% include 'partial/photos_list.html' %}
        {% empty %}
            <p>альбом пока пуст...</p>
        {% endfor %}
    </div>
{% endblock %}