<div class="col-12 col-md-4 col-lg-4">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title"><a
                    href="{{ photo.get_absolute_url }}">{{ photo.caption }}</a></h5>
            <img src="{{ photo.image.url }}" class="card-img-top" alt="#">
            <p class="card-text">Автор: {{ photo.author }}</p>
            <p class="card-text">Дата: {{ photo.created_at }}</p>
            {% if photo.album %}
                <p>Альбом: <a href="{% url 'webapp:album_detail' photo.album.pk %}">{{ photo.album }}</a></p>
            {% else %}
                <p>Альбом: Без альбома</p>
            {% endif %}
            <div class="btn-group">
                {% if perms.webapp.change_photo or request.user == photo.author %}
                <a class="btn btn-primary" href="{% url 'webapp:photo_update' photo.pk %}">Изменить</a>
                {% endif %}
                {% if perms.webapp.delete_photo or request.user == photo.author %}
                <a class="btn btn-danger" href="{% url 'webapp:photo_delete' photo.pk %}">Удалить</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>